
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 900;
    color: #9e8245;
}

.container-fluid {
    min-height: 100vh;
    background-color: #DBD0AD;
}


.doge {
    max-width: 50%;
    max-height: 50vh;
    border-radius: 20px;
    box-shadow: 0 5px 10px -5px #9e8245;
}

input[type="text"] {
    padding-left: 10px;
}

.no-bullet {
    list-style: none;
}

li.red {
    color: red;
    font-weight: 900;
    position: relative;
    top: -715px;
    left: -215px;
    transform: scale(2.4);
}

li.yellow {
    color: yellow;
    font-weight: 400;
    position: relative;
    top: -485px;
    left: 225px;
    transform: rotate(6deg) scale(1.4);
}

li.blue {
    color: blue;
    font-weight: 400;
    position: relative;
    top: -585px;
    left: -250px;
    transform: rotate(-4deg) scale(1.8);
}

li.green {
    color: limegreen;
    font-weight: 400;
    position: relative;
    top: -760px;
    left: 185px;
    transform: rotate(-2deg) scale(1.6);
}

li.purple {
    color: purple;
    font-weight: 900;
    position: relative;
    top: -445px;
    left: -225px;
    transform: rotate(4deg) scale(1.4);
}

